# flyctl launch added from .gitignore
**\.DS_Store
**\node_modules
.svelte-kit
package
**\.env
**\.env.*
!**\.env.example
**\vite.config.js.timestamp-*
**\vite.config.ts.timestamp-*
**\static\placewise

# flyctl launch added from .svelte-kit\output\client\placewise\placewise\.gitignore
# Created by https://www.toptal.com/developers/gitignore/api/macos,visualstudiocode,node,git
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,visualstudiocode,node,git

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
.svelte-kit\output\client\placewise\placewise\**\*.orig

# Created by git when using merge tools for conflicts
.svelte-kit\output\client\placewise\placewise\**\*.BACKUP.*
.svelte-kit\output\client\placewise\placewise\**\*.BASE.*
.svelte-kit\output\client\placewise\placewise\**\*.LOCAL.*
.svelte-kit\output\client\placewise\placewise\**\*.REMOTE.*
.svelte-kit\output\client\placewise\placewise\**\*_BACKUP_*.txt
.svelte-kit\output\client\placewise\placewise\**\*_BASE_*.txt
.svelte-kit\output\client\placewise\placewise\**\*_LOCAL_*.txt
.svelte-kit\output\client\placewise\placewise\**\*_REMOTE_*.txt

### macOS ###
# General
.svelte-kit\output\client\placewise\placewise\**\.DS_Store
.svelte-kit\output\client\placewise\placewise\**\.AppleDouble
.svelte-kit\output\client\placewise\placewise\**\.LSOverride

# Icon must end with two \r
.svelte-kit\output\client\placewise\placewise\**\Icon


# Thumbnails
.svelte-kit\output\client\placewise\placewise\**\._*

# Files that might appear in the root of a volume
.svelte-kit\output\client\placewise\placewise\**\.DocumentRevisions-V100
.svelte-kit\output\client\placewise\placewise\**\.fseventsd
.svelte-kit\output\client\placewise\placewise\**\.Spotlight-V100
.svelte-kit\output\client\placewise\placewise\**\.TemporaryItems
.svelte-kit\output\client\placewise\placewise\**\.Trashes
.svelte-kit\output\client\placewise\placewise\**\.VolumeIcon.icns
.svelte-kit\output\client\placewise\placewise\**\.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.svelte-kit\output\client\placewise\placewise\**\.AppleDB
.svelte-kit\output\client\placewise\placewise\**\.AppleDesktop
.svelte-kit\output\client\placewise\placewise\**\Network Trash Folder
.svelte-kit\output\client\placewise\placewise\**\Temporary Items
.svelte-kit\output\client\placewise\placewise\**\.apdisk

### macOS Patch ###
# iCloud generated files
.svelte-kit\output\client\placewise\placewise\**\*.icloud

### Node ###
# Logs
.svelte-kit\output\client\placewise\placewise\**\logs
.svelte-kit\output\client\placewise\placewise\**\*.log
.svelte-kit\output\client\placewise\placewise\**\npm-debug.log*
.svelte-kit\output\client\placewise\placewise\**\yarn-debug.log*
.svelte-kit\output\client\placewise\placewise\**\yarn-error.log*
.svelte-kit\output\client\placewise\placewise\**\lerna-debug.log*
.svelte-kit\output\client\placewise\placewise\**\.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
.svelte-kit\output\client\placewise\placewise\**\report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
.svelte-kit\output\client\placewise\placewise\**\pids
.svelte-kit\output\client\placewise\placewise\**\*.pid
.svelte-kit\output\client\placewise\placewise\**\*.seed
.svelte-kit\output\client\placewise\placewise\**\*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
.svelte-kit\output\client\placewise\placewise\**\lib-cov

# Coverage directory used by tools like istanbul
.svelte-kit\output\client\placewise\placewise\**\coverage
.svelte-kit\output\client\placewise\placewise\**\*.lcov

# nyc test coverage
.svelte-kit\output\client\placewise\placewise\**\.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.svelte-kit\output\client\placewise\placewise\**\.grunt

# Bower dependency directory (https://bower.io/)
.svelte-kit\output\client\placewise\placewise\**\bower_components

# node-waf configuration
.svelte-kit\output\client\placewise\placewise\**\.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
.svelte-kit\output\client\placewise\placewise\**\build\Release

# Dependency directories
.svelte-kit\output\client\placewise\placewise\**\node_modules
.svelte-kit\output\client\placewise\placewise\**\jspm_packages

# Snowpack dependency directory (https://snowpack.dev/)
.svelte-kit\output\client\placewise\placewise\**\web_modules

# TypeScript cache
.svelte-kit\output\client\placewise\placewise\**\*.tsbuildinfo

# Optional npm cache directory
.svelte-kit\output\client\placewise\placewise\**\.npm

# Optional eslint cache
.svelte-kit\output\client\placewise\placewise\**\.eslintcache

# Optional stylelint cache
.svelte-kit\output\client\placewise\placewise\**\.stylelintcache

# Microbundle cache
.svelte-kit\output\client\placewise\placewise\**\.rpt2_cache
.svelte-kit\output\client\placewise\placewise\**\.rts2_cache_cjs
.svelte-kit\output\client\placewise\placewise\**\.rts2_cache_es
.svelte-kit\output\client\placewise\placewise\**\.rts2_cache_umd

# Optional REPL history
.svelte-kit\output\client\placewise\placewise\**\.node_repl_history

# Output of 'npm pack'
.svelte-kit\output\client\placewise\placewise\**\*.tgz

# Yarn Integrity file
.svelte-kit\output\client\placewise\placewise\**\.yarn-integrity

# dotenv environment variable files
.svelte-kit\output\client\placewise\placewise\**\.env
.svelte-kit\output\client\placewise\placewise\**\.env.development.local
.svelte-kit\output\client\placewise\placewise\**\.env.test.local
.svelte-kit\output\client\placewise\placewise\**\.env.production.local
.svelte-kit\output\client\placewise\placewise\**\.env.local

# parcel-bundler cache (https://parceljs.org/)
.svelte-kit\output\client\placewise\placewise\**\.cache
.svelte-kit\output\client\placewise\placewise\**\.parcel-cache

# Next.js build output
.svelte-kit\output\client\placewise\placewise\**\.next
.svelte-kit\output\client\placewise\placewise\**\out

# Nuxt.js build / generate output
.svelte-kit\output\client\placewise\placewise\**\.nuxt


# Gatsby files
.svelte-kit\output\client\placewise\placewise\**\.cache
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress v2.x temp and cache directory
.svelte-kit\output\client\placewise\placewise\**\.temp

# Docusaurus cache and generated files
.svelte-kit\output\client\placewise\placewise\**\.docusaurus

# Serverless directories
.svelte-kit\output\client\placewise\placewise\**\.serverless

# FuseBox cache
.svelte-kit\output\client\placewise\placewise\**\.fusebox

# DynamoDB Local files
.svelte-kit\output\client\placewise\placewise\**\.dynamodb

# TernJS port file
.svelte-kit\output\client\placewise\placewise\**\.tern-port

# Stores VSCode versions used for testing VSCode extensions
.svelte-kit\output\client\placewise\placewise\**\.vscode-test

# yarn v2
.svelte-kit\output\client\placewise\placewise\**\.yarn\cache
.svelte-kit\output\client\placewise\placewise\**\.yarn\unplugged
.svelte-kit\output\client\placewise\placewise\**\.yarn\build-state.yml
.svelte-kit\output\client\placewise\placewise\**\.yarn\install-state.gz
.svelte-kit\output\client\placewise\placewise\**\.pnp.*

### Node Patch ###
# Serverless Webpack directories
.svelte-kit\output\client\placewise\placewise\**\.webpack

# Optional stylelint cache

# SvelteKit build / generate output
.svelte-kit\output\client\placewise\placewise\**\.svelte-kit

### VisualStudioCode ###
.svelte-kit\output\client\placewise\placewise\**\.vscode\*
!.svelte-kit\output\client\placewise\placewise\**\.vscode\settings.json
!.svelte-kit\output\client\placewise\placewise\**\.vscode\tasks.json
!.svelte-kit\output\client\placewise\placewise\**\.vscode\launch.json
!.svelte-kit\output\client\placewise\placewise\**\.vscode\extensions.json
!.svelte-kit\output\client\placewise\placewise\**\.vscode\*.code-snippets

# Local History for Visual Studio Code
.svelte-kit\output\client\placewise\placewise\**\.history

# Built Visual Studio Code Extensions
.svelte-kit\output\client\placewise\placewise\**\*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.svelte-kit\output\client\placewise\placewise\**\.history
.svelte-kit\output\client\placewise\placewise\**\.ionide

# End of https://www.toptal.com/developers/gitignore/api/macos,visualstudiocode,node,git

# flyctl launch added from build\client\placewise\placewise\.gitignore
# Created by https://www.toptal.com/developers/gitignore/api/macos,visualstudiocode,node,git
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,visualstudiocode,node,git

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
build\client\placewise\placewise\**\*.orig

# Created by git when using merge tools for conflicts
build\client\placewise\placewise\**\*.BACKUP.*
build\client\placewise\placewise\**\*.BASE.*
build\client\placewise\placewise\**\*.LOCAL.*
build\client\placewise\placewise\**\*.REMOTE.*
build\client\placewise\placewise\**\*_BACKUP_*.txt
build\client\placewise\placewise\**\*_BASE_*.txt
build\client\placewise\placewise\**\*_LOCAL_*.txt
build\client\placewise\placewise\**\*_REMOTE_*.txt

### macOS ###
# General
build\client\placewise\placewise\**\.DS_Store
build\client\placewise\placewise\**\.AppleDouble
build\client\placewise\placewise\**\.LSOverride

# Icon must end with two \r
build\client\placewise\placewise\**\Icon


# Thumbnails
build\client\placewise\placewise\**\._*

# Files that might appear in the root of a volume
build\client\placewise\placewise\**\.DocumentRevisions-V100
build\client\placewise\placewise\**\.fseventsd
build\client\placewise\placewise\**\.Spotlight-V100
build\client\placewise\placewise\**\.TemporaryItems
build\client\placewise\placewise\**\.Trashes
build\client\placewise\placewise\**\.VolumeIcon.icns
build\client\placewise\placewise\**\.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
build\client\placewise\placewise\**\.AppleDB
build\client\placewise\placewise\**\.AppleDesktop
build\client\placewise\placewise\**\Network Trash Folder
build\client\placewise\placewise\**\Temporary Items
build\client\placewise\placewise\**\.apdisk

### macOS Patch ###
# iCloud generated files
build\client\placewise\placewise\**\*.icloud

### Node ###
# Logs
build\client\placewise\placewise\**\logs
build\client\placewise\placewise\**\*.log
build\client\placewise\placewise\**\npm-debug.log*
build\client\placewise\placewise\**\yarn-debug.log*
build\client\placewise\placewise\**\yarn-error.log*
build\client\placewise\placewise\**\lerna-debug.log*
build\client\placewise\placewise\**\.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
build\client\placewise\placewise\**\report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
build\client\placewise\placewise\**\pids
build\client\placewise\placewise\**\*.pid
build\client\placewise\placewise\**\*.seed
build\client\placewise\placewise\**\*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
build\client\placewise\placewise\**\lib-cov

# Coverage directory used by tools like istanbul
build\client\placewise\placewise\**\coverage
build\client\placewise\placewise\**\*.lcov

# nyc test coverage
build\client\placewise\placewise\**\.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
build\client\placewise\placewise\**\.grunt

# Bower dependency directory (https://bower.io/)
build\client\placewise\placewise\**\bower_components

# node-waf configuration
build\client\placewise\placewise\**\.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build\client\placewise\placewise\**\build\Release

# Dependency directories
build\client\placewise\placewise\**\node_modules
build\client\placewise\placewise\**\jspm_packages

# Snowpack dependency directory (https://snowpack.dev/)
build\client\placewise\placewise\**\web_modules

# TypeScript cache
build\client\placewise\placewise\**\*.tsbuildinfo

# Optional npm cache directory
build\client\placewise\placewise\**\.npm

# Optional eslint cache
build\client\placewise\placewise\**\.eslintcache

# Optional stylelint cache
build\client\placewise\placewise\**\.stylelintcache

# Microbundle cache
build\client\placewise\placewise\**\.rpt2_cache
build\client\placewise\placewise\**\.rts2_cache_cjs
build\client\placewise\placewise\**\.rts2_cache_es
build\client\placewise\placewise\**\.rts2_cache_umd

# Optional REPL history
build\client\placewise\placewise\**\.node_repl_history

# Output of 'npm pack'
build\client\placewise\placewise\**\*.tgz

# Yarn Integrity file
build\client\placewise\placewise\**\.yarn-integrity

# dotenv environment variable files
build\client\placewise\placewise\**\.env
build\client\placewise\placewise\**\.env.development.local
build\client\placewise\placewise\**\.env.test.local
build\client\placewise\placewise\**\.env.production.local
build\client\placewise\placewise\**\.env.local

# parcel-bundler cache (https://parceljs.org/)
build\client\placewise\placewise\**\.cache
build\client\placewise\placewise\**\.parcel-cache

# Next.js build output
build\client\placewise\placewise\**\.next
build\client\placewise\placewise\**\out

# Nuxt.js build / generate output
build\client\placewise\placewise\**\.nuxt


# Gatsby files
build\client\placewise\placewise\**\.cache
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress v2.x temp and cache directory
build\client\placewise\placewise\**\.temp

# Docusaurus cache and generated files
build\client\placewise\placewise\**\.docusaurus

# Serverless directories
build\client\placewise\placewise\**\.serverless

# FuseBox cache
build\client\placewise\placewise\**\.fusebox

# DynamoDB Local files
build\client\placewise\placewise\**\.dynamodb

# TernJS port file
build\client\placewise\placewise\**\.tern-port

# Stores VSCode versions used for testing VSCode extensions
build\client\placewise\placewise\**\.vscode-test

# yarn v2
build\client\placewise\placewise\**\.yarn\cache
build\client\placewise\placewise\**\.yarn\unplugged
build\client\placewise\placewise\**\.yarn\build-state.yml
build\client\placewise\placewise\**\.yarn\install-state.gz
build\client\placewise\placewise\**\.pnp.*

### Node Patch ###
# Serverless Webpack directories
build\client\placewise\placewise\**\.webpack

# Optional stylelint cache

# SvelteKit build / generate output
build\client\placewise\placewise\**\.svelte-kit

### VisualStudioCode ###
build\client\placewise\placewise\**\.vscode\*
!build\client\placewise\placewise\**\.vscode\settings.json
!build\client\placewise\placewise\**\.vscode\tasks.json
!build\client\placewise\placewise\**\.vscode\launch.json
!build\client\placewise\placewise\**\.vscode\extensions.json
!build\client\placewise\placewise\**\.vscode\*.code-snippets

# Local History for Visual Studio Code
build\client\placewise\placewise\**\.history

# Built Visual Studio Code Extensions
build\client\placewise\placewise\**\*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
build\client\placewise\placewise\**\.history
build\client\placewise\placewise\**\.ionide

# End of https://www.toptal.com/developers/gitignore/api/macos,visualstudiocode,node,git

# flyctl launch added from static\placewise\placewise\.gitignore
# Created by https://www.toptal.com/developers/gitignore/api/macos,visualstudiocode,node,git
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,visualstudiocode,node,git

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
static\placewise\placewise\**\*.orig

# Created by git when using merge tools for conflicts
static\placewise\placewise\**\*.BACKUP.*
static\placewise\placewise\**\*.BASE.*
static\placewise\placewise\**\*.LOCAL.*
static\placewise\placewise\**\*.REMOTE.*
static\placewise\placewise\**\*_BACKUP_*.txt
static\placewise\placewise\**\*_BASE_*.txt
static\placewise\placewise\**\*_LOCAL_*.txt
static\placewise\placewise\**\*_REMOTE_*.txt

### macOS ###
# General
static\placewise\placewise\**\.DS_Store
static\placewise\placewise\**\.AppleDouble
static\placewise\placewise\**\.LSOverride

# Icon must end with two \r
static\placewise\placewise\**\Icon


# Thumbnails
static\placewise\placewise\**\._*

# Files that might appear in the root of a volume
static\placewise\placewise\**\.DocumentRevisions-V100
static\placewise\placewise\**\.fseventsd
static\placewise\placewise\**\.Spotlight-V100
static\placewise\placewise\**\.TemporaryItems
static\placewise\placewise\**\.Trashes
static\placewise\placewise\**\.VolumeIcon.icns
static\placewise\placewise\**\.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
static\placewise\placewise\**\.AppleDB
static\placewise\placewise\**\.AppleDesktop
static\placewise\placewise\**\Network Trash Folder
static\placewise\placewise\**\Temporary Items
static\placewise\placewise\**\.apdisk

### macOS Patch ###
# iCloud generated files
static\placewise\placewise\**\*.icloud

### Node ###
# Logs
static\placewise\placewise\**\logs
static\placewise\placewise\**\*.log
static\placewise\placewise\**\npm-debug.log*
static\placewise\placewise\**\yarn-debug.log*
static\placewise\placewise\**\yarn-error.log*
static\placewise\placewise\**\lerna-debug.log*
static\placewise\placewise\**\.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
static\placewise\placewise\**\report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
static\placewise\placewise\**\pids
static\placewise\placewise\**\*.pid
static\placewise\placewise\**\*.seed
static\placewise\placewise\**\*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
static\placewise\placewise\**\lib-cov

# Coverage directory used by tools like istanbul
static\placewise\placewise\**\coverage
static\placewise\placewise\**\*.lcov

# nyc test coverage
static\placewise\placewise\**\.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
static\placewise\placewise\**\.grunt

# Bower dependency directory (https://bower.io/)
static\placewise\placewise\**\bower_components

# node-waf configuration
static\placewise\placewise\**\.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
static\placewise\placewise\**\build\Release

# Dependency directories
static\placewise\placewise\**\node_modules
static\placewise\placewise\**\jspm_packages

# Snowpack dependency directory (https://snowpack.dev/)
static\placewise\placewise\**\web_modules

# TypeScript cache
static\placewise\placewise\**\*.tsbuildinfo

# Optional npm cache directory
static\placewise\placewise\**\.npm

# Optional eslint cache
static\placewise\placewise\**\.eslintcache

# Optional stylelint cache
static\placewise\placewise\**\.stylelintcache

# Microbundle cache
static\placewise\placewise\**\.rpt2_cache
static\placewise\placewise\**\.rts2_cache_cjs
static\placewise\placewise\**\.rts2_cache_es
static\placewise\placewise\**\.rts2_cache_umd

# Optional REPL history
static\placewise\placewise\**\.node_repl_history

# Output of 'npm pack'
static\placewise\placewise\**\*.tgz

# Yarn Integrity file
static\placewise\placewise\**\.yarn-integrity

# dotenv environment variable files
static\placewise\placewise\**\.env
static\placewise\placewise\**\.env.development.local
static\placewise\placewise\**\.env.test.local
static\placewise\placewise\**\.env.production.local
static\placewise\placewise\**\.env.local

# parcel-bundler cache (https://parceljs.org/)
static\placewise\placewise\**\.cache
static\placewise\placewise\**\.parcel-cache

# Next.js build output
static\placewise\placewise\**\.next
static\placewise\placewise\**\out

# Nuxt.js build / generate output
static\placewise\placewise\**\.nuxt


# Gatsby files
static\placewise\placewise\**\.cache
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress v2.x temp and cache directory
static\placewise\placewise\**\.temp

# Docusaurus cache and generated files
static\placewise\placewise\**\.docusaurus

# Serverless directories
static\placewise\placewise\**\.serverless

# FuseBox cache
static\placewise\placewise\**\.fusebox

# DynamoDB Local files
static\placewise\placewise\**\.dynamodb

# TernJS port file
static\placewise\placewise\**\.tern-port

# Stores VSCode versions used for testing VSCode extensions
static\placewise\placewise\**\.vscode-test

# yarn v2
static\placewise\placewise\**\.yarn\cache
static\placewise\placewise\**\.yarn\unplugged
static\placewise\placewise\**\.yarn\build-state.yml
static\placewise\placewise\**\.yarn\install-state.gz
static\placewise\placewise\**\.pnp.*

### Node Patch ###
# Serverless Webpack directories
static\placewise\placewise\**\.webpack

# Optional stylelint cache

# SvelteKit build / generate output
static\placewise\placewise\**\.svelte-kit

### VisualStudioCode ###
static\placewise\placewise\**\.vscode\*
!static\placewise\placewise\**\.vscode\settings.json
!static\placewise\placewise\**\.vscode\tasks.json
!static\placewise\placewise\**\.vscode\launch.json
!static\placewise\placewise\**\.vscode\extensions.json
!static\placewise\placewise\**\.vscode\*.code-snippets

# Local History for Visual Studio Code
static\placewise\placewise\**\.history

# Built Visual Studio Code Extensions
static\placewise\placewise\**\*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
static\placewise\placewise\**\.history
static\placewise\placewise\**\.ionide

# End of https://www.toptal.com/developers/gitignore/api/macos,visualstudiocode,node,git
fly.toml
static/placewise